/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: #fff;
}

/* UTILITIES */
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #999999;
  border: 2px solid #999999;
  border-radius: 20px;
  font-family: 'Montserrat';
  padding: 10px 35px;
  font-size: 12px;
  background: #050505;
}

/* TYPOGRAPHY */
h2 {
  margin: 0;
  font-family: 'Roboto', Sans-serif;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-family: 'Roboto', Sans-serif;
  font-weight: 700;
}

h5 {
  color: #686868;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 400;
  font-size: 11px;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:active {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
/* LAYOUT */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* MAIN WINDOW */
#main-window {
  flex-grow: 1;
  display: flex;
}


/* SIDEBAR */
#sidebar {
  flex-basis: 215px;
  display: flex;
  flex-direction: column;
}

.sidebar-top {
  flex-grow: 1;
  background: #000;
}

.sidebar-top img {
  padding: 20px 70px 20px 20px;
  max-width: 100%;
}

.sidebar-top .nav-menu li {
  border-left: 3px solid transparent;
}

.sidebar-top .nav-menu li:hover {
  border-left: 3px solid #a3eb4d;
}

.sidebar-top a {
  display: inline-block;
  padding: 5px 15px;
  width: 100%;
  color: #686868;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.sidebar-top li:hover > a {
  color: #fff;
}

.sidebar-top i {
  display: inline-block;
  width: 24px;
  font-size: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.user-playlists {
  padding: 20px;
}

.user-playlists h4 {
  font-size: 14px;
}

.user-playlists i {
  font-size: 38px;
  margin-right: 20px;
}

.user-playlists a:nth-child(2) {
  font-size: 14px;
}

.user-playlists a {
  padding-left: 0;
  font-size: 12px;
  line-height: 24px;
}

.sidebar-bottom {
  height: 80px; /*debug*/
  background: #222;
}

/* CONTENT */
#content {
  position: relative;
  flex-grow: 1;
  background: #141921;
}

.content-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  text-align: right;
}

.content-top-bar .btn {
  margin: 20px;
}

.content-menu {
  margin: 15px 0 30px;
}


.content-menu ul {
  text-align: center;
}

.content-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.content-menu ul li a {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #656565;
  font-size: 12px;
}

.content-menu ul li a::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #a3eb4d;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.content-menu ul li a:hover::after {
  opacity: 1;
}

#content .scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 80px 20px 30px;
}

.content-category {
  margin-bottom: 30px;
}

.big-square {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.playlist {
  position: relative;
  flex-basis: calc(100% / 6 - 15px);
  margin-right: 15px;
  text-align: center;
}

.playlist:last-child {
  margin: 0;
}

.playlist img {
  width: 100%;
}

.playlist h4 {
  margin: 10px 0;
}

.content-category > h5 {
  margin: 10px 0 15px;
}

.rounded img {
  border-radius: 50%;
}

.playlist a {
  color: inherit;
}

.playlist a h5:hover {
  text-decoration: underline;
  text-decoration-color: #686868;
}

.playlist a h4:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/* BOTTOM PLAYER */
#player {
  height: 80px; /*debug*/
  background: #333;
}

/* MEDIA QUERY */
